In [53]:
import pandas as pd
import numpy as np
from scipy.stats import boxcox
from sklearn.preprocessing import PowerTransformer

In [54]:
df = pd.read_csv('ThreeForthSemester.csv')
keep_data = df[['SHLT','MSTOT','COGTOT','group']]
df_transformed = df.drop(['SHLT','MSTOT','COGTOT','group'], axis=1)

In [55]:
min_shift = abs(df_transformed.min().min()) + 1
min_shift

2245501.0

In [56]:
df_transformed.describe()

,BMI,INHPFN,HHHRES,HCHILD,LIVSIB,HAIRA,HATOTB,IEARN,HITOT,PRPCNT
count,33538.000000,33538.000000,33538.000000,33538.000000,33538.000000,3.353800e+04,3.353800e+04,33538.000000,3.353800e+04,33538.000000
mean,28.221525,0.019053,2.620997,3.208838,2.891645,6.279775e+04,4.706249e+05,28276.314563,9.174399e+04,0.789045
std,5.190420,0.151015,1.034508,1.855415,2.375205,1.499092e+05,7.857227e+05,36339.861115,8.056483e+04,0.588489
min,9.700000,0.000000,2.000000,0.000000,0.000000,0.000000e+00,-2.245500e+06,0.000000,0.000000e+00,0.000000
25%,24.600000,0.000000,2.000000,2.000000,1.000000,0.000000e+00,7.800000e+04,0.000000,4.264800e+04,0.000000
50%,27.400000,0.000000,2.000000,3.000000,2.000000,0.000000e+00,2.220000e+05,15000.000000,7.011000e+04,1.000000
75%,31.000000,0.000000,3.000000,4.000000,4.000000,5.500000e+04,5.410000e+05,40000.000000,1.147795e+05,1.000000
max,61.200000,5.000000,12.000000,11.000000,18.000000,2.225000e+06,1.339500e+07,400000.000000,1.330000e+06,23.000000

In [57]:
df_log = df_transformed.drop(['HATOTB'],axis=1)
df_log = df_log.apply(lambda x: np.log(x + 0.1))
df_log = pd.concat([df_log, keep_data], axis=1)
df_log

,BMI,INHPFN,HHHRES,HCHILD,LIVSIB,HAIRA,IEARN,HITOT,PRPCNT,SHLT,MSTOT,COGTOT,group
0,3.499533,-2.302585,0.741937,1.410987,-2.302585,-2.302585,9.903493,10.016821,-2.302585,5.0,14.0,17.0,"0,0,0,0,0"
1,3.173878,-2.302585,0.741937,1.808289,0.741937,-2.302585,10.126635,11.580585,0.095310,4.0,8.0,14.0,"0,0,0,0,0"
2,3.261935,-2.302585,0.741937,0.741937,0.095310,10.596637,11.542485,11.808457,0.095310,3.0,15.0,27.0,"0,0,0,0,0"
3,3.708682,-2.302585,1.131402,1.410987,1.960095,-2.302585,11.034891,11.186601,-2.302585,4.0,11.0,16.0,"0,0,0,0,0"
4,3.131137,-2.302585,1.410987,1.410987,1.410987,8.294075,9.615812,11.468557,0.095310,3.0,15.0,31.0,"0,0,0,0,0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33533,3.681351,-2.302585,0.741937,1.629241,1.808289,-2.302585,10.203596,10.278909,-2.302585,4.0,14.0,23.0,"1,0,0,0,0"
33534,2.917771,-2.302585,1.629241,1.808289,1.629241,-2.302585,-2.302585,-2.302585,0.095310,1.0,14.0,27.0,"1,0,0,0,0"
33535,3.295837,-2.302585,0.741937,1.960095,1.960095,-2.302585,8.100192,8.100192,0.095310,1.0,9.0,25.0,"1,0,0,0,0"
33536,3.380995,-2.302585,1.131402,1.131402,1.960095,-2.302585,9.798133,9.798133,-2.302585,4.0,13.0,23.0,"1,0,0,0,0"
33537,3.404525,-2.302585,0.741937,1.131402,2.312535,-2.302585,-2.302585,-2.302585,0.095310,3.0,12.0,25.0,"1,0,0,0,0"

In [58]:
df_log.to_csv('ThreeForthSemester_log.csv', index=False)

In [64]:
# Applying Box-Cox Transformation
data_box_cox = df_transformed.copy()
data_box_cox = data_box_cox.drop(['HATOTB'],axis = 1)
for col in data_box_cox.columns:
    data_box_cox[col], _ = boxcox(data_box_cox[col] + 0.01) 
data_box_cox = pd.concat([data_box_cox, keep_data], axis=1)

In [65]:
data_box_cox.to_csv('ThreeForthSemester_box_cox.csv', index=False)

In [39]:
pt = PowerTransformer(method='yeo-johnson')
data_yeo_johnson = pd.DataFrame(pt.fit_transform(df_transformed), columns=df_transformed.columns)
data_yeo_johnson = pd.concat([data_yeo_johnson, keep_data], axis=1)
data_yeo_johnson.to_csv('ThreeForthSemester_yeo_johnson.csv', index=False)