In [82]:
import pandas as pd
import numpy as np
from scipy.stats import boxcox
from sklearn.preprocessing import PowerTransformer

In [83]:
df = pd.read_csv('ThreeForthSemester.csv')
df = df[df["HATOTB"] >= 0]
df_transformed = df.drop(['group'], axis=1)
keep_data = df[['group']]

In [84]:
df_transformed.describe()

,SHLT,BMI,MSTOT,COGTOT,INHPFN,HHHRES,HCHILD,LIVSIB,HAIRA,HATOTB,IEARN,HITOT,PRPCNT
count,32145.000000,32145.000000,32145.000000,32145.000000,32145.000000,32145.000000,32145.000000,32145.000000,3.214500e+04,3.214500e+04,32145.000000,3.214500e+04,32145.000000
mean,2.439944,28.138034,13.492580,24.157381,0.018292,2.600933,3.199129,2.858112,6.542417e+04,4.930743e+05,28214.603455,9.283525e+04,0.791538
std,0.935187,5.126773,1.699033,3.881364,0.149169,1.013117,1.843612,2.363271,1.525605e+05,7.943892e+05,36604.655532,8.150435e+04,0.589809
min,1.000000,9.700000,4.000000,6.000000,0.000000,2.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000
25%,2.000000,24.500000,13.000000,22.000000,0.000000,2.000000,2.000000,1.000000,0.000000e+00,9.200000e+04,0.000000,4.309925e+04,0.000000
50%,2.000000,27.400000,14.000000,24.000000,0.000000,2.000000,3.000000,2.000000,0.000000e+00,2.380000e+05,15000.000000,7.100400e+04,1.000000
75%,3.000000,30.900000,15.000000,27.000000,0.000000,3.000000,4.000000,4.000000,6.000000e+04,5.640000e+05,40000.000000,1.160000e+05,1.000000
max,5.000000,61.200000,15.000000,35.000000,5.000000,12.000000,11.000000,18.000000,2.225000e+06,1.339500e+07,400000.000000,1.330000e+06,23.000000

In [85]:
df_log = df_transformed.apply(lambda x: np.log(x + 10))
df_log = pd.concat([df_log, keep_data], axis=1)
df_log

,SHLT,BMI,MSTOT,COGTOT,INHPFN,HHHRES,HCHILD,LIVSIB,HAIRA,HATOTB,IEARN,HITOT,PRPCNT,group
0,2.708050,3.761200,3.178054,3.295837,2.302585,2.484907,2.639057,2.302585,2.302585,2.302585,9.903987,10.017263,2.302585,"0,0,0,0,0"
1,2.639057,3.520461,2.890372,3.178054,2.302585,2.484907,2.772589,2.484907,2.302585,9.616472,10.127031,11.580678,2.397895,"0,0,0,0,0"
2,2.564949,3.583519,3.218876,3.610918,2.302585,2.484907,2.484907,2.397895,10.596885,12.577671,11.542581,11.808531,2.397895,"0,0,0,0,0"
3,2.639057,3.925926,3.044522,3.258097,2.302585,2.564949,2.639057,2.833213,2.302585,9.710327,11.035051,11.186738,2.302585,"0,0,0,0,0"
4,2.564949,3.490429,3.218876,3.713572,2.302585,2.639057,2.639057,2.639057,8.296547,11.837253,9.616472,11.468660,2.397895,"0,0,0,0,0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33533,2.639057,3.903991,3.178054,3.496508,2.302585,2.484907,2.708050,2.772589,2.302585,10.222305,10.203962,10.279249,2.302585,"1,0,0,0,0"
33534,2.397895,3.346389,3.178054,3.610918,2.302585,2.708050,2.772589,2.708050,2.302585,11.407676,2.302585,2.302585,2.397895,"1,0,0,0,0"
33535,2.397895,3.608212,2.944439,3.555348,2.302585,2.484907,2.833213,2.833213,2.302585,7.762596,8.103192,8.103192,2.397895,"1,0,0,0,0"
33536,2.639057,3.671225,3.135494,3.496508,2.302585,2.564949,2.564949,2.833213,2.302585,2.302585,9.798682,9.798682,2.302585,"1,0,0,0,0"
33537,2.564949,3.688879,3.091042,3.555348,2.302585,2.484907,2.564949,2.995732,2.302585,11.251691,2.302585,2.302585,2.397895,"1,0,0,0,0"

In [86]:
df_log.describe()

,SHLT,BMI,MSTOT,COGTOT,INHPFN,HHHRES,HCHILD,LIVSIB,HAIRA,HATOTB,IEARN,HITOT,PRPCNT
count,32145.000000,32145.000000,32145.000000,32145.000000,32145.000000,32145.000000,32145.000000,32145.000000,32145.000000,32145.000000,32145.000000,32145.000000,32145.000000
mean,2.518101,3.632620,3.153879,3.524221,2.304312,2.530833,2.571024,2.538888,6.501154,12.173363,8.004139,11.141588,2.377372
std,0.074925,0.129798,0.076290,0.117838,0.013855,0.074917,0.133247,0.169515,4.427641,1.748727,3.533905,0.893347,0.052178
min,2.397895,2.980619,2.639057,2.772589,2.302585,2.484907,2.302585,2.302585,2.302585,2.302585,2.302585,2.302585,2.302585
25%,2.484907,3.540959,3.135494,3.465736,2.302585,2.484907,2.484907,2.397895,2.302585,11.429653,2.302585,10.671493,2.302585
50%,2.484907,3.621671,3.178054,3.526361,2.302585,2.484907,2.564949,2.484907,2.302585,12.380068,9.616472,11.170632,2.397895
75%,2.564949,3.711130,3.218876,3.610918,2.302585,2.564949,2.639057,2.639057,11.002266,13.242827,10.596885,11.661432,2.397895
max,2.708050,4.265493,3.218876,3.806662,2.708050,3.091042,3.044522,3.332205,14.615272,16.410393,12.899245,14.100697,3.496508

In [87]:
df_log.to_csv('DataSet1.csv', index=False)

In [88]:
df2 = pd.read_csv('ThreeForthSemester.csv')
df_transformed2 = df2.drop(['group','HATOTB'], axis=1)
keep_data2 = df2[['HATOTB','group']]

In [89]:
df_log2 = df_transformed2.apply(lambda x: np.log(x + 10))
df_log2 = pd.concat([df_log2, keep_data2], axis=1)
df_log2

,SHLT,BMI,MSTOT,COGTOT,INHPFN,HHHRES,HCHILD,LIVSIB,HAIRA,IEARN,HITOT,PRPCNT,HATOTB,group
0,2.708050,3.761200,3.178054,3.295837,2.302585,2.484907,2.639057,2.302585,2.302585,9.903987,10.017263,2.302585,0.0,"0,0,0,0,0"
1,2.639057,3.520461,2.890372,3.178054,2.302585,2.484907,2.772589,2.484907,2.302585,10.127031,11.580678,2.397895,15000.0,"0,0,0,0,0"
2,2.564949,3.583519,3.218876,3.610918,2.302585,2.484907,2.484907,2.397895,10.596885,11.542581,11.808531,2.397895,290000.0,"0,0,0,0,0"
3,2.639057,3.925926,3.044522,3.258097,2.302585,2.564949,2.639057,2.833213,2.302585,11.035051,11.186738,2.302585,16477.0,"0,0,0,0,0"
4,2.564949,3.490429,3.218876,3.713572,2.302585,2.639057,2.639057,2.639057,8.296547,9.616472,11.468660,2.397895,138300.0,"0,0,0,0,0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33533,2.639057,3.903991,3.178054,3.496508,2.302585,2.484907,2.708050,2.772589,2.302585,10.203962,10.279249,2.302585,27500.0,"1,0,0,0,0"
33534,2.397895,3.346389,3.178054,3.610918,2.302585,2.708050,2.772589,2.708050,2.302585,2.302585,2.302585,2.397895,90000.0,"1,0,0,0,0"
33535,2.397895,3.608212,2.944439,3.555348,2.302585,2.484907,2.833213,2.833213,2.302585,8.103192,8.103192,2.397895,2341.0,"1,0,0,0,0"
33536,2.639057,3.671225,3.135494,3.496508,2.302585,2.564949,2.564949,2.833213,2.302585,9.798682,9.798682,2.302585,0.0,"1,0,0,0,0"
33537,2.564949,3.688879,3.091042,3.555348,2.302585,2.484907,2.564949,2.995732,2.302585,2.302585,2.302585,2.397895,77000.0,"1,0,0,0,0"

In [90]:
df_log2.to_csv('DataSet2.csv', index=False)