In [1]:
import pandas as pd
import numpy as np
from scipy.stats import boxcox
from sklearn.preprocessing import PowerTransformer

In [4]:
df = pd.read_csv('ThreeForthSemester.csv')
df = df[df["HATOTB"] >= 0]
df_transformed = df.drop(['group'], axis=1)
keep_data = df[['group']]

In [5]:
min_shift = abs(df_transformed.min().min()) + 1
min_shift

1.0

In [6]:
df_transformed.describe()

,SHLT,BMI,MSTOT,COGTOT,INHPFN,HHHRES,HCHILD,LIVSIB,HAIRA,HATOTB,IEARN,HITOT,PRPCNT
count,32145.000000,32145.000000,32145.000000,32145.000000,32145.000000,32145.000000,32145.000000,32145.000000,3.214500e+04,3.214500e+04,32145.000000,3.214500e+04,32145.000000
mean,2.439944,28.138034,13.492580,24.157381,0.018292,2.600933,3.199129,2.858112,6.542417e+04,4.930743e+05,28214.603455,9.283525e+04,0.791538
std,0.935187,5.126773,1.699033,3.881364,0.149169,1.013117,1.843612,2.363271,1.525605e+05,7.943892e+05,36604.655532,8.150435e+04,0.589809
min,1.000000,9.700000,4.000000,6.000000,0.000000,2.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000
25%,2.000000,24.500000,13.000000,22.000000,0.000000,2.000000,2.000000,1.000000,0.000000e+00,9.200000e+04,0.000000,4.309925e+04,0.000000
50%,2.000000,27.400000,14.000000,24.000000,0.000000,2.000000,3.000000,2.000000,0.000000e+00,2.380000e+05,15000.000000,7.100400e+04,1.000000
75%,3.000000,30.900000,15.000000,27.000000,0.000000,3.000000,4.000000,4.000000,6.000000e+04,5.640000e+05,40000.000000,1.160000e+05,1.000000
max,5.000000,61.200000,15.000000,35.000000,5.000000,12.000000,11.000000,18.000000,2.225000e+06,1.339500e+07,400000.000000,1.330000e+06,23.000000

In [7]:
df_log = df_transformed.apply(lambda x: np.log(x + 0.1))
df_log = pd.concat([df_log, keep_data], axis=1)
df_log

,SHLT,BMI,MSTOT,COGTOT,INHPFN,HHHRES,HCHILD,LIVSIB,HAIRA,HATOTB,IEARN,HITOT,PRPCNT,group
0,1.629241,3.499533,2.646175,2.839078,-2.302585,0.741937,1.410987,-2.302585,-2.302585,-2.302585,9.903493,10.016821,-2.302585,"0,0,0,0,0"
1,1.410987,3.173878,2.091864,2.646175,-2.302585,0.741937,1.808289,0.741937,-2.302585,9.615812,10.126635,11.580585,0.095310,"0,0,0,0,0"
2,1.131402,3.261935,2.714695,3.299534,-2.302585,0.741937,0.741937,0.095310,10.596637,12.577637,11.542485,11.808457,0.095310,"0,0,0,0,0"
3,1.410987,3.708682,2.406945,2.778819,-2.302585,1.131402,1.410987,1.960095,-2.302585,9.709727,11.034891,11.186601,-2.302585,"0,0,0,0,0"
4,1.131402,3.131137,2.714695,3.437208,-2.302585,1.410987,1.410987,1.410987,8.294075,11.837181,9.615812,11.468557,0.095310,"0,0,0,0,0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33533,1.410987,3.681351,2.646175,3.139833,-2.302585,0.741937,1.629241,1.808289,-2.302585,10.221945,10.203596,10.278909,-2.302585,"1,0,0,0,0"
33534,0.095310,2.917771,2.646175,3.299534,-2.302585,1.629241,1.808289,1.629241,-2.302585,11.407566,-2.302585,-2.302585,0.095310,"1,0,0,0,0"
33535,0.095310,3.295837,2.208274,3.222868,-2.302585,0.741937,1.960095,1.960095,-2.302585,7.758376,8.100192,8.100192,0.095310,"1,0,0,0,0"
33536,1.410987,3.380995,2.572612,3.139833,-2.302585,1.131402,1.131402,1.960095,-2.302585,-2.302585,9.798133,9.798133,-2.302585,"1,0,0,0,0"
33537,1.131402,3.404525,2.493205,3.222868,-2.302585,0.741937,1.131402,2.312535,-2.302585,11.251562,-2.302585,-2.302585,0.095310,"1,0,0,0,0"

In [8]:
df_log.to_csv('ThreeForthSemester_log.csv', index=False)

In [7]:
# Applying Box-Cox Transformation
data_box_cox = df_transformed.drop(['HATOTB'], axis=1)
data_box_cox = data_box_cox.copy()
for col in data_box_cox.columns:
    data_box_cox[col], _ = boxcox(data_box_cox[col] + 0.01) 
data_box_cox = pd.concat([data_box_cox, keep_data], axis=1)

In [8]:
data_box_cox.to_csv('ThreeForthSemester_box_cox.csv', index=False)

In [9]:
pt = PowerTransformer(method='yeo-johnson')
data_yeo_johnson = pd.DataFrame(pt.fit_transform(df_transformed), columns=df_transformed.columns)
data_yeo_johnson = pd.concat([data_yeo_johnson, keep_data], axis=1)
data_yeo_johnson.to_csv('ThreeForthSemester_yeo_johnson.csv', index=False)